# SQL Review 


First, we will import the appropriate libraries.

In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import sqlite3

### Printing out SQL calls and results 

We define a function `print_sql(s)` that given an sql query `s` returns the results of the executing.

In [ ]:
def print_sql(c, s):
    print('>', s)
    for result in c.execute(s):
        print(result)
    print()

We could also use `pandas` `read_sql` function to read in the results of the query to a dataframe to disply.  *Be careful with running this code as it will create the dataframe - for a query that returns many records this could be memory-intensive*

In [ ]:
def pretty_print_sql(c, s):
    print('>', s)
    df = pd.read_sql(s, c)
    #display(df)
    return df

## Example 

Here we will use SQLite connection to a test database.

First, we will create two sample tables to use in the examples.

Create the relational instances in the database.

<img src="https://pages.mtu.edu/~lebrown/un5550-f20/lab6/ex1-tables.png" width="350px">

In [ ]:
# setup connection to new empty db
conn = sqlite3.connect("testdatabase.db")

In [ ]:
# Populate tables "s" and "t" in "testdatabase.db"
conn.executescript("""
DROP TABLE IF EXISTS s;
DROP TABLE IF EXISTS t;

CREATE TABLE s(
    m INTEGER PRIMARY KEY, 
    u TEXT
);

INSERT INTO s VALUES 
    (1, 'W'),
    (2, 'X'),
    (3, 'X'),
    (4, 'Y');

CREATE TABLE t(
    n TEXT PRIMARY KEY, 
    v CHAR
);

INSERT INTO t VALUES 
    ('A', 'X'),
    ('B', 'X'),
    ('C', 'Y'),
    ('D', 'Z');
""");

We can use this to look at the tables `s` and `t` in undefined order.

In [ ]:
print_sql(conn, 'SELECT * FROM s;')
print_sql(conn, 'SELECT * FROM t;')

In [ ]:
pretty_print_sql(conn, 'SELECT * FROM t;')

### Cross Join 

Let's know look at performing some of the join operations discussed in class.

First, we will look at the cross join or cross product.

<img src="https://pages.mtu.edu/~lebrown/un5550-f20/lab6/cross-join.png" width="600px">

In [ ]:
print_sql(conn, 'SELECT * FROM s, t;')

In [ ]:
# Another way to structure our query
print_sql(conn, """
SELECT *
FROM s CROSS JOIN t;
""")

### Inner Join 

Next, look at performing an inner join. 

<img src="https://pages.mtu.edu/~lebrown/un5550-f20/lab6/inner-join.png" width="600px">

In [ ]:
# Here are three methods for performing and printint out the inner join
print_sql(conn, 'SELECT * FROM s JOIN t ON s.u = t.v;')
print_sql(conn, 'SELECT * FROM s, t WHERE s.u = t.v;')
pretty_print_sql(conn, 'SELECT * FROM s, t WHERE s.u = t.v;')

### Left Outer Join 

Next, let's examine performing a left outer join. 

<img src="https://pages.mtu.edu/~lebrown/un5550-f20/lab6/left-outer-join.png" width="600px">

In [ ]:
print_sql(conn, 'SELECT * FROM s LEFT JOIN t ON s.u = t.v')

### Other Joins

In [ ]:
print_sql(conn, 'SELECT s.m, s.u, t.n, t.v FROM t LEFT JOIN s ON s.u = t.v;')
print_sql(conn, 'SELECT s.m, s.u, t.n, t.v FROM s LEFT JOIN t ON s.u = t.v UNION '
          'SELECT s.m, s.u, t.n, t.v FROM t LEFT JOIN s ON s.u = t.v;')

### Close the connection

In [ ]:
# Close down connection to database
conn.close()

In [ ]:
!rm testdatabase.db