# Lab 2 


**Lab 2**
Assignment Objectives:  
Upon successful completion of this assignment, a student will be able to:
* Gain experience using and writing functions.
* Use basic statistical functions
* Gain experience in exploratory data visualization
* Use basic data cleanging.

The next code cell is required to use the autograder when running on Colab/DeepNote (uncomment the code). If you are using an environment with `otter-grader` already installed, then leave the code commented out.

In [47]:
#  Import libraries 
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import otter
grader = otter.Notebook()

*Tip: It is good practice to list all imports needed at the top of the notebook.  You can import modules in later cells as needed, but listing them at the top clearly shows all which are needed to be available / installed.*

### Data 

You will again be using the Auto-MPG data set available on the UCI repository. 

https://archive.ics.uci.edu/ml/datasets/Auto+MPG

## Exercise 1 - Import Data 
You will want to create a function to import the data 

The function should be named `ImportData(url, col_names)`    
`ImportData` has two input arguments: 
* `url` - a string that links to the data to be imported, and 
* `col_names` - a list of strings container each column names. 

In the function, you should import the data using `read_csv`, set the column names to `col_names`, and set the DataFrame index (*row labels*) to `carName`.  

The column names should be set to: 'mpg', 'cyl', 'disp', 'hp', 'weight', 'accel', 'model year', 'origin', 'car name'. 

For this function, do not use the `na_values` argument of `read_csv`.  We will handle missing data later in the notebook.

The function should return the DataFrame. 

Helpful links: 

* https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv
* https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html#pandas.read_table

In [48]:
# Create the function ImportData here and return the data 

def ImportData(url, col_names):
    df = pd.read_csv(url,header = None, names = cNames,  delim_whitespace=True)
    df.set_index('car name', inplace = True,drop = False)
    
    # return the created DataFrame, df 
    
    
    return df

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'  
cNames = ['mpg', 'cyl', 'disp', 'hp', 'weight', 'accel', 'model year', 'origin', 'car name']
data = ImportData(url, cNames)
data.head()

,mpg,cyl,disp,hp,weight,accel,model year,origin,car name
car name,,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
buick skylark 320,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
plymouth satellite,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
amc rebel sst,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
ford torino,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [49]:
grader.check("q1")

q1 results: All test cases passed!

## Exercise 2: Data Cleaning 

The data cleaning part will have multiple goals: to handle any missing data and to process the string data to remove spaces and replace with an underscore. 

You will create a function, named ColDataClean(data) that:

* Identify any Null/NA/NaN entries in the DataFrame, print out what entries will be removed, and remove them 
* Change the column labels (headers) from all lower case to [title case](https://danielmiessler.com/p/a-list-of-different-case-types/) and then replace "space" with underscore, "_". Print the column headers before and after.
* Change the DataFrame index (row labels) also be title case, that is, replace all spaces with underscore

In [50]:
def ColDataClean(df):
    # Identify, print, and remove any entries with Null / NA / NaN
    print(df.isna().any())
  
    
    print("*** Removing null entries ***")
    df.dropna(axis = 0, how = 'any', inplace = True)
    
    
    print("*** String Operations on Column Headers ***")
    print("  Before: ", df.columns)
    df.columns = df.columns.str.title() 
    
    print("  After: ", df.columns)
    df.columns = df.columns.str.replace(' ', '_')
    
    print("*** String Operations on index strings *** \n")
    df.index = df.index.str.title()
    df.index = df.index.str.replace(' ', '_')
    
    
    return df

data = ColDataClean(data)

data.head()

mpg           False
cyl           False
disp          False
hp            False
weight        False
accel         False
model year    False
origin        False
car name      False
dtype: bool
*** Removing null entries ***
*** String Operations on Column Headers ***
  Before:  Index(['mpg', 'cyl', 'disp', 'hp', 'weight', 'accel', 'model year', 'origin',
       'car name'],
      dtype='object')
  After:  Index(['Mpg', 'Cyl', 'Disp', 'Hp', 'Weight', 'Accel', 'Model Year', 'Origin',
       'Car Name'],
      dtype='object')
*** String Operations on index strings ***

,Mpg,Cyl,Disp,Hp,Weight,Accel,Model_Year,Origin,Car_Name
car name,,,,,,,,,
Chevrolet_Chevelle_Malibu,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
Buick_Skylark_320,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
Plymouth_Satellite,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
Amc_Rebel_Sst,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
Ford_Torino,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [51]:
grader.check("q2")

q2 results: All test cases passed!

## Exercise 3: Data Cleaning and Manipulation 

Look at the types for each column of the DataFrame.

In [52]:
data.dtypes

Mpg           float64
Cyl             int64
Disp          float64
Hp             object
Weight        float64
Accel         float64
Model_Year      int64
Origin          int64
Car_Name       object
dtype: object

Horsepower, `Hp`, is considered an object.  But, really this should be a float.  Why is this a float?

In [53]:
data[data["Hp"] == '?']

,Mpg,Cyl,Disp,Hp,Weight,Accel,Model_Year,Origin,Car_Name
car name,,,,,,,,,
Ford_Pinto,25.0,4,98.0,?,2046.0,19.0,71,1,ford pinto
Ford_Maverick,21.0,6,200.0,?,2875.0,17.0,74,1,ford maverick
Renault_Lecar_Deluxe,40.9,4,85.0,?,1835.0,17.3,80,2,renault lecar deluxe
Ford_Mustang_Cobra,23.6,4,140.0,?,2905.0,14.3,80,1,ford mustang cobra
Renault_18I,34.5,4,100.0,?,2320.0,15.8,81,2,renault 18i
Amc_Concord_Dl,23.0,4,151.0,?,3035.0,20.5,82,1,amc concord dl

There are some missing values in this column that need to be handled.

Create a function `HandleHP(df, col)`, that changes all the "?" values to a replacement value 99 and converts the column to be a float, where
* `df` is a DataFrame to be worked on 
* `col` is the name of the column to be "handled"

In [54]:
def HandleHp(df, col):
    # Guarding 
    if (df[col].dtypes == 'object'):
       
        print ("  Current data type is : ", df[col].dtypes)
        df[col] = df[col].replace('?', 99).astype(float)
        print ("  Changed data type is : ", df[col].dtypes)
        
    return df 


HandleHp(data, 'Hp')
print(data.dtypes)

  Current data type is :  object
  Changed data type is :  float64
Mpg           float64
Cyl             int64
Disp          float64
Hp            float64
Weight        float64
Accel         float64
Model_Year      int64
Origin          int64
Car_Name       object
dtype: object

In [55]:
grader.check("q3")

q3 results: All test cases passed!

## Exercise 4: Data Aggregation and Grouping 

Add two new columns for Kmpl (km per liter) and Kmpg (km per gallon). 

Note, the conversions are 1 mpg = 0.425144 kmpl  and 1 mpg = 1.609 kmpg.

_Type your answer here, replacing this text._

In [56]:
#  Add two new columns
data['Kmpl'] =  data['Mpg']* 0.425144
data['Kmpg'] =  data['Mpg']* 1.609
print (data.head())

                            Mpg  Cyl   Disp     Hp  Weight  Accel  Model_Year  \
car name
Chevrolet_Chevelle_Malibu  18.0    8  307.0  130.0  3504.0   12.0          70
Buick_Skylark_320          15.0    8  350.0  165.0  3693.0   11.5          70
Plymouth_Satellite         18.0    8  318.0  150.0  3436.0   11.0          70
Amc_Rebel_Sst              16.0    8  304.0  150.0  3433.0   12.0          70
Ford_Torino                17.0    8  302.0  140.0  3449.0   10.5          70

                           Origin                   Car_Name      Kmpl    Kmpg
car name
Chevrolet_Chevelle_Malibu       1  chevrolet chevelle malibu  7.652592  28.962
Buick_Skylark_320               1          buick skylark 320  6.377160  24.135
Plymouth_Satellite              1         plymouth satellite  7.652592  28.962
Amc_Rebel_Sst                   1              amc rebel sst  6.802304  25.744
Ford_Torino                     1                ford torino  7.227448  27.353

In [57]:
# Add Region_Origin column 
region = {1:'ASIA', 2: 'EUROPE', 3: 'USA'}
data['Region_Origin'] = data['Origin'].map(region)

In [58]:
grader.check("q4")

q4 results: All test cases passed!

## Exercise 5: Grouping 

Let's create a number of different groups for the data set. 

* Group 1 - group by 'region origin' 
* Group 2 - group by 'model year' 
* Group 3 - group by 'model year' and 'region origin' 

Let's look at these groups iterating with for loops

In [59]:
# Create groups 

group1 = data.groupby(['Region_Origin'])
group2 = data.groupby(['Model_Year'])
group3 = data.groupby(['Model_Year','Region_Origin'])


# Print the data from Group 2 with a for loop 
#  restrict ourselves to only printing 4 cars in each group. 


    
for x, group in group2:
    print (x)
    print ("*** Start ")
    print (group.head(4))
    print ("*** End ")

(70,)
*** Start
                            Mpg  Cyl   Disp     Hp  Weight  Accel  Model_Year  \
car name
Chevrolet_Chevelle_Malibu  18.0    8  307.0  130.0  3504.0   12.0          70
Buick_Skylark_320          15.0    8  350.0  165.0  3693.0   11.5          70
Plymouth_Satellite         18.0    8  318.0  150.0  3436.0   11.0          70
Amc_Rebel_Sst              16.0    8  304.0  150.0  3433.0   12.0          70

                           Origin                   Car_Name      Kmpl  \
car name
Chevrolet_Chevelle_Malibu       1  chevrolet chevelle malibu  7.652592
Buick_Skylark_320               1          buick skylark 320  6.377160
Plymouth_Satellite              1         plymouth satellite  7.652592
Amc_Rebel_Sst                   1              amc rebel sst  6.802304

                             Kmpg Region_Origin
car name
Chevrolet_Chevelle_Malibu  28.962          ASIA
Buick_Skylark_320          24.135          ASIA
Plymouth_Satellite         28.962          ASIA
Amc_Rebel_Sst              25.744          ASIA
*** End
(71,)
*** Start
                      Mpg  Cyl   Disp    Hp  Weight  Accel  Model_Year  \
car name
Datsun_Pl510         27.0    4   97.0  88.0  2130.0   14.5          71
Chevrolet_Vega_2300  28.0    4  140.0  90.0  2264.0   15.5          71
Toyota_Corona        25.0    4  113.0  95.0  2228.0   14.0          71
Ford_Pinto           25.0    4   98.0  99.0  2046.0   19.0          71

                     Origin             Car_Name       Kmpl    Kmpg  \
car name
Datsun_Pl510              3         datsun pl510  11.478888  43.443
Chevrolet_Vega_2300       1  chevrolet vega 2300  11.904032  45.052
Toyota_Corona             3        toyota corona  10.628600  40.225
Ford_Pinto                1           ford pinto  10.628600  40.225

                    Region_Origin
car name
Datsun_Pl510                  USA
Chevrolet_Vega_2300          ASIA
Toyota_Corona                 USA
Ford_Pinto                   ASIA
*** End
(72,)
*** Start
                        Mpg  Cyl   Disp    Hp  Weight  Accel  Model_Year  \
car name
Toyota_Corona_Hardtop  24.0    4  113.0  95.0  2278.0   15.5          72
Dodge_Colt_Hardtop     25.0    4   97.5  80.0  2126.0   17.0          72
Volkswagen_Type_3      23.0    4   97.0  54.0  2254.0   23.5          72
Chevrolet_Vega         20.0    4  140.0  90.0  2408.0   19.5          72

                       Origin               Car_Name       Kmpl    Kmpg  \
car name
Toyota_Corona_Hardtop       3  toyota corona hardtop  10.203456  38.616
Dodge_Colt_Hardtop          1     dodge colt hardtop  10.628600  40.225
Volkswagen_Type_3           2      volkswagen type 3   9.778312  37.007
Chevrolet_Vega              1         chevrolet vega   8.502880  32.180

                      Region_Origin
car name
Toyota_Corona_Hardtop           USA
Dodge_Colt_Hardtop             ASIA
Volkswagen_Type_3            EUROPE
Chevrolet_Vega                 ASIA
*** End
(73,)
*** Start
                    Mpg  Cyl   Disp     Hp  Weight  Accel  Model_Year  Origin  \
car name
Buick_Century_350  13.0    8  350.0  175.0  4100.0   13.0          73       1
Amc_Matador        14.0    8  304.0  150.0  3672.0   11.5          73       1
Chevrolet_Malibu   13.0    8  350.0  145.0  3988.0   13.0          73       1
Ford_Gran_Torino   14.0    8  302.0  137.0  4042.0   14.5          73       1

                            Car_Name      Kmpl    Kmpg Region_Origin
car name
Buick_Century_350  buick century 350  5.526872  20.917          ASIA
Amc_Matador              amc matador  5.952016  22.526          ASIA
Chevrolet_Malibu    chevrolet malibu  5.526872  20.917          ASIA
Ford_Gran_Torino    ford gran torino  5.952016  22.526          ASIA
*** End
(74,)
*** Start
                  Mpg  Cyl   Disp     Hp  Weight  Accel  Model_Year  Origin  \
car name
Plymouth_Duster  20.0    6  198.0   95.0  3102.0   16.5          74       1
Ford_Maverick    21.0    6  200.0   99.0  2875.0   17.0          74       1
Amc_Hornet       19.0    6  232.0  100.0  2901.0   16.0          74       1
Chevrolet_Nova   15.0    6  250.0  100.0  3336.0   17.0          74       1

                        Car_Name      Kmpl    Kmpg Region_Origin
car name
Plymouth_Duster  plymouth duster  8.502880  32.180          ASIA
Ford_Maverick      ford maverick  8.928024  33.789          ASIA
Amc_Hornet            amc hornet  8.077736  30.571          ASIA
Chevrolet_Nova    chevrolet nova  6.377160  24.135          ASIA
*** End
(75,)
*** Start
                          Mpg  Cyl   Disp     Hp  Weight  Accel  Model_Year  \
car name
Plymouth_Valiant_Custom  19.0    6  225.0   95.0  3264.0   16.0          75
Chevrolet_Nova           18.0    6  250.0  105.0  3459.0   16.0          75
Mercury_Monarch          15.0    6  250.0   72.0  3432.0   21.0          75
Ford_Maverick            15.0    6  250.0   72.0  3158.0   19.5          75

                         Origin                 Car_Name      Kmpl    Kmpg  \
car name
Plymouth_Valiant_Custom       1  plymouth valiant custom  8.077736  30.571
Chevrolet_Nova                1           chevrolet nova  7.652592  28.962
Mercury_Monarch               1          mercury monarch  6.377160  24.135
Ford_Maverick                 1            ford maverick  6.377160  24.135

                        Region_Origin
car name
Plymouth_Valiant_Custom          ASIA
Chevrolet_Nova                   ASIA
Mercury_Monarch                  ASIA
Ford_Maverick                    ASIA
*** End
(76,)
*** Start
             Mpg  Cyl   Disp    Hp  Weight  Accel  Model_Year  Origin  \
car name
Fiat_131    28.0    4  107.0  86.0  2464.0   15.5          76       2
Opel_1900   25.0    4  116.0  81.0  2220.0   16.9          76       2
Capri_Ii    25.0    4  140.0  92.0  2572.0   14.9          76       1
Dodge_Colt  26.0    4   98.0  79.0  2255.0   17.7          76       1

              Car_Name       Kmpl    Kmpg Region_Origin
car name
Fiat_131      fiat 131  11.904032  45.052        EUROPE
Opel_1900    opel 1900  10.628600  40.225        EUROPE
Capri_Ii      capri ii  10.628600  40.225          ASIA
Dodge_Colt  dodge colt  11.053744  41.834          ASIA
*** End
(77,)
*** Start
                          Mpg  Cyl   Disp    Hp  Weight  Accel  Model_Year  \
car name
Honda_Accord_Cvcc        31.5    4   98.0  68.0  2045.0   18.5          77
Buick_Opel_Isuzu_Deluxe  30.0    4  111.0  80.0  2155.0   14.8          77
Renault_5_Gtl            36.0    4   79.0  58.0  1825.0   18.6          77
Plymouth_Arrow_Gs        25.5    4  122.0  96.0  2300.0   15.5          77

                         Origin                 Car_Name       Kmpl     Kmpg  \
car name
Honda_Accord_Cvcc             3        honda accord cvcc  13.392036  50.6835
Buick_Opel_Isuzu_Deluxe       1  buick opel isuzu deluxe  12.754320  48.2700
Renault_5_Gtl                 2            renault 5 gtl  15.305184  57.9240
Plymouth_Arrow_Gs             1        plymouth arrow gs  10.841172  41.0295

                        Region_Origin
car name
Honda_Accord_Cvcc                 USA
Buick_Opel_Isuzu_Deluxe          ASIA
Renault_5_Gtl                  EUROPE
Plymouth_Arrow_Gs                ASIA
*** End
(78,)
*** Start
                                  Mpg  Cyl  Disp    Hp  Weight  Accel  \
car name
Volkswagen_Rabbit_Custom_Diesel  43.1    4  90.0  48.0  1985.0   21.5
Ford_Fiesta                      36.1    4  98.0  66.0  1800.0   14.4
Mazda_Glc_Deluxe                 32.8    4  78.0  52.0  1985.0   19.4
Datsun_B210_Gx                   39.4    4  85.0  70.0  2070.0   18.6

                                 Model_Year  Origin  \
car name
Volkswagen_Rabbit_Custom_Diesel          78       2
Ford_Fiesta                              78       1
Mazda_Glc_Deluxe                         78       3
Datsun_B210_Gx                           78       3

                                                        Car_Name       Kmpl  \
car name
Volkswagen_Rabbit_Custom_Diesel  volkswagen rabbit custom diesel  18.323706
Ford_Fiesta                                          ford fiesta  15.347698
Mazda_Glc_Deluxe                                mazda glc deluxe  13.944723
Datsun_B210_Gx                                    datsun b210 gx  16.750674

                                    Kmpg Region_Origin
car name
Volkswagen_Rabbit_Custom_Diesel  69.3479        EUROPE
Ford_Fiesta                      58.0849          ASIA
Mazda_Glc_Deluxe                 52.7752           USA
Datsun_B210_Gx                   63.3946           USA
*** End
(79,)
*** Start
                    Mpg  Cyl   Disp     Hp  Weight  Accel  Model_Year  Origin  \
car name
Pontiac_Lemans_V6  21.5    6  231.0  115.0  3245.0   15.4          79       1
Mercury_Zephyr_6   19.8    6  200.0   85.0  2990.0   18.2          79       1
Ford_Fairmont_4    22.3    4  140.0   88.0  2890.0   17.3          79       1
Amc_Concord_Dl_6   20.2    6  232.0   90.0  3265.0   18.2          79       1

                            Car_Name      Kmpl     Kmpg Region_Origin
car name
Pontiac_Lemans_V6  pontiac lemans v6  9.140596  34.5935          ASIA
Mercury_Zephyr_6    mercury zephyr 6  8.417851  31.8582          ASIA
Ford_Fairmont_4      ford fairmont 4  9.480711  35.8807          ASIA
Amc_Concord_Dl_6    amc concord dl 6  8.587909  32.5018          ASIA
*** End
(80,)
*** Start
                        Mpg  Cyl  Disp    Hp  Weight  Accel  Model_Year  \
car name
Vw_Rabbit              41.5    4  98.0  76.0  2144.0   14.7          80
Toyota_Corolla_Tercel  38.1    4  89.0  60.0  1968.0   18.8          80
Chevrolet_Chevette     32.1    4  98.0  70.0  2120.0   15.5          80
Datsun_310             37.2    4  86.0  65.0  2019.0   16.4          80

                       Origin               Car_Name       Kmpl     Kmpg  \
car name
Vw_Rabbit                   2              vw rabbit  17.643476  66.7735
Toyota_Corolla_Tercel       3  toyota corolla tercel  16.197986  61.3029
Chevrolet_Chevette          1     chevrolet chevette  13.647122  51.6489
Datsun_310                  3             datsun 310  15.815357  59.8548

                      Region_Origin
car name
Vw_Rabbit                    EUROPE
Toyota_Corolla_Tercel           USA
Chevrolet_Chevette             ASIA
Datsun_310                      USA
*** End
(81,)
*** Start
                         Mpg  Cyl   Disp     Hp  Weight  Accel  Model_Year  \
car name
Plymouth_Reliant        27.2    4  135.0   84.0  2490.0   15.7          81
Buick_Skylark           26.6    4  151.0   84.0  2635.0   16.4          81
Dodge_Aries_Wagon_(Sw)  25.8    4  156.0   92.0  2620.0   14.4          81
Chevrolet_Citation      23.5    6  173.0  110.0  2725.0   12.6          81

                        Origin                Car_Name       Kmpl     Kmpg  \
car name
Plymouth_Reliant             1        plymouth reliant  11.563917  43.7648
Buick_Skylark                1           buick skylark  11.308830  42.7994
Dodge_Aries_Wagon_(Sw)       1  dodge aries wagon (sw)  10.968715  41.5122
Chevrolet_Citation           1      chevrolet citation   9.990884  37.8115

                       Region_Origin
car name
Plymouth_Reliant                ASIA
Buick_Skylark                   ASIA
Dodge_Aries_Wagon_(Sw)          ASIA
Chevrolet_Citation              ASIA
*** End
(82,)
*** Start
                             Mpg  Cyl   Disp    Hp  Weight  Accel  Model_Year  \
car name
Chevrolet_Cavalier          28.0    4  112.0  88.0  2605.0   19.6          82
Chevrolet_Cavalier_Wagon    27.0    4  112.0  88.0  2640.0   18.6          82
Chevrolet_Cavalier_2-Door   34.0    4  112.0  88.0  2395.0   18.0          82
Pontiac_J2000_Se_Hatchback  31.0    4  112.0  85.0  2575.0   16.2          82

                            Origin                    Car_Name       Kmpl  \
car name
Chevrolet_Cavalier               1          chevrolet cavalier  11.904032
Chevrolet_Cavalier_Wagon         1    chevrolet cavalier wagon  11.478888
Chevrolet_Cavalier_2-Door        1   chevrolet cavalier 2-door  14.454896
Pontiac_J2000_Se_Hatchback       1  pontiac j2000 se hatchback  13.179464

                              Kmpg Region_Origin
car name
Chevrolet_Cavalier          45.052          ASIA
Chevrolet_Cavalier_Wagon    43.443          ASIA
Chevrolet_Cavalier_2-Door   54.706          ASIA
Pontiac_J2000_Se_Hatchback  49.879          ASIA
*** End

In [60]:
grader.check("q5")

q5 results: All test cases passed!

<!-- BEGIN QUESTION -->

## Exercise 6: Data Exploration and Analysis 

Create a function `plot_mpg_region()` that reports the mpg over the grouping `Region_Origin`.  Consider using line, bar, scatter plots.  

The function should: 

* take as input a DataFrame group (from above)
* report mpg over the group 
* make sure the plot looks good and has labels, title, etc.

In [62]:
def plot_mpg_region(my_group):

    avg_mpg_by_region = my_group.groupby(['Region_Origin']).mean()
    #Jupyter notebooks have a default figure size, which might override the figsize parameter. 
    #To change the figure size in a Jupyter notebook, we need to use %matplotlib inline and rcParams.
    avg_mpg_by_region.plot.scatter(x="pH", y="alcohol")
    

    return 


plot_mpg_region(group1)

AttributeError: 'DataFrameGroupBy' object has no attribute 'pd'

In [ ]:
def plot_mpg_region(my_group):

    avg_mpg_by_region = data.groupby(['Mpg']).mean()
    #Jupyter notebooks have a default figure size, which might override the figsize parameter. 
    #To change the figure size in a Jupyter notebook, we need to use %matplotlib inline and rcParams.
    plt.rcParams["figure.figsize"] = (16, 6)
    avg_mpg_by_region.plot(kind = 'bar', color = ['yellow','black','pink'])
    plt.title(' Report of Avg Mpg over the Group Region_Origin')
    plt.xlabel('Region_Origin')
    plt.ylabel('Mpg')
    plt.xticks(rotation = 45)
    plt.grid(axis = 'y', linestyle = '--',alpha = 0.7)
    

    return 


plot_mpg_region(group1)

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## Exercise 7: Data Exploration and Analysis 

Create a function `plot_mpg_year()` that reports the mpg over the grouping `Model Year`.  Consider using line, bar, scatter plots.  

The function should: 

* take as input a DataFrame group (from above)
* report mpg over the group 
* make sure the plot looks good and has labels, title, etc.

In [ ]:
def plot_mpg_year(my_group):
    
    
    return 


plot_mpg_year(group2)

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## Exercise 8: Data Exploration and Analysis 

Create a function `plot_mpg_year_region()` that reports the mpg over the both groupings `Model Year` and `Region`.  Think about what is the appropriate type of plot.  

The function should: 

* take as input the DataFrame (*note, this is different than the other plots*)
* report mpg over both groups
* make sure the plot looks good and has labels, title, etc.

In [ ]:
def plot_mpg_year_region(data):
    
    
    Mpg_pivot = data.pivot_table(values = 'Mpg', index = 'Model_Year', columns = 'Region_Origin' , aggfunc = 'mean')
    plt.rcParams["figure.figsize"] = (10, 6)
    sns.heatmap(Mpg_pivot, annot = True, cmap = 'coolwarm', fmt = '.2f', cbar = True, linewidth = 0.5)
    plt.title(' Mpg by the Model Year and Region_Origin')
    plt.xlabel('Region_Origin')
    plt.ylabel('Model_Year')
    plt.tight_layout()
    plt.show()
    return 


plot_mpg_year_region(data)

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## Exercise 9: Explore Additional aspects of the data using statistics 

Look at the statistics for 2 of the `float` variables in the data set.  
Report the mean, standard deviation, 5-number summary.  

Plot the distributions using histograms.  

Which distribution has the most skew? 

Look at the statistics and distribution again now grouped by country of origin.  

Look at the statistics and distribution again now grouped by number of cylinders.

**Look at the statistics for 2 of the float variables in the data set.
Report the mean, standard deviation, 5-number summary.**

In [ ]:

#  I am selecting Mpg and Acceleration as my two float varaibles because both of them as more float values 
# For Mpg Stat
Mpg_Mean =  np.mean(data['Mpg'])
Mpg_Standard_Deviation =  np.std(data['Mpg'])
Mpg_5_Number_Summary = [np.max(data['Mpg']),np.min(data['Mpg']),np.median(data['Mpg']),np.percentile(data['Mpg'],25),np.percentile(data['Mpg'],75)]
Max = Mpg_5_Number_Summary[0]
Min = Mpg_5_Number_Summary[1]
Median = Mpg_5_Number_Summary[2]
Percentile_at_25 = Mpg_5_Number_Summary[3]
Percentile_at_75 = Mpg_5_Number_Summary[4]

#printing Mpg Statistics
print("Statistics for 'Mpg': ")
print('Mean :',Mpg_Mean)
print('Standard Deviation:', Mpg_Standard_Deviation)
print('5-number summary ',Mpg_5_Number_Summary)
print(f'Maximum : {Max}, Minimum : {Min}, Medium : {Median},Percentile_at_25 : {Percentile_at_25}, Percentile_at_75 : {Percentile_at_75}')

# For Acceleration Statistics
Acceleration_Mean =  np.mean(data['Accel'])
Acceleration_Standard_Deviation =  np.std(data['Accel'])
Acceleration_5_Number_Summary = [np.max(data['Accel']),np.min(data['Accel']),np.median(data['Accel']),np.percentile(data['Mpg'],25),np.percentile(data['Accel'],70)]
Max = Acceleration_5_Number_Summary[0]
Min = Acceleration_5_Number_Summary[1]
Median = Acceleration_5_Number_Summary[2]
Percentile_at_25 = Acceleration_5_Number_Summary[3]
Percentile_at_75 = Acceleration_5_Number_Summary[4]

#printing Acceleration Stat
print("\nStatistics for 'Acceleration': ")
print('Mean :',Acceleration_Mean)
print('Standard Deviation:', Acceleration_Standard_Deviation)
print('5-number summary :',Acceleration_5_Number_Summary)
print(f'Maximum : {Max}, Minimum : {Min}, Medium : {Median},Percentile_at_25 : {Percentile_at_25}, Percentile_at_75 : {Percentile_at_75}')

**Plot the distributions using histograms.**

In [ ]:
#Histogram for Mpg
plt.rcParams["figure.figsize"] = (10, 6)
plt.hist(data['Mpg'],bins = 30, color = 'yellow', edgecolor = 'black')
plt.title('Distribution of Mpg')
plt.xlabel('Mpg')
plt.ylabel('Frequency')
plt.tight_layout()
plt.show()

In [ ]:
#Histogram for Acceleration
plt.rcParams["figure.figsize"] = (10, 6)
plt.hist(data['Accel'],bins = 30, color = 'skyblue', edgecolor = 'black')
plt.title('Distribution of Acceleration')
plt.xlabel('Mpg')
plt.ylabel('Frequency')
plt.tight_layout()
plt.show()

Q)Which distribution has the most skew? 
<br>Ans: As we can the distribution of both Mpg and Acceleration. I would say the distribution of **Mpg is most skewed**
although it is postively skewed. 
<br> We can obeserve the values of Mean, Median and Mode of the both Mpg and Acceleration. When you plot those values for both Mpg and Acceleration we can see that Acceleration is kinda of symmetrical.

**Look at the statistics and distribution again now grouped by country of origin.**

In [ ]:
# Calculating Statistics and Distribution agian by grouping country of origin for Mpg
Grouped_By_Region_Origin = data.groupby('Region_Origin')
Mpg_Statistics_By_Country_Of_Origin = Grouped_By_Region_Origin['Mpg'].describe()
Mpg_Statistics_By_Country_Of_Origin

In [ ]:
# Calculating Statistics and Distribution agian by grouping country of origin for Acceleration
Acceleration_Statistics_By_Country_Of_Origin = Grouped_By_Region_Origin['Accel'].describe()
Acceleration_Statistics_By_Country_Of_Origin

**Look at the statistics and distribution again now grouped by number of cylinders.**

In [ ]:
Grouped_By_Cylinders = data.groupby('Cyl')
Mpg_Statistics_By_Grouping_Cylinders = Grouped_By_Cylinders['Mpg'].describe()
Mpg_Statistics_By_Grouping_Cylinders

In [ ]:
Grouped_By_Cylinders = data.groupby('Cyl')
Acceleration_Statistics_By_Grouping_Cylinders = Grouped_By_Cylinders['Accel'].describe()
Acceleration_Statistics_By_Grouping_Cylinders

<!-- END QUESTION -->

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)